@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: #1F1F27;
}

.container {
  max-width: 768px !important;
}

.title-row {
  padding: 60px 0 30px;
}

.page-title {
  font-size: 25px;
  line-height: 34px;
}

.page-subtitle {
  padding-top: 10px;
  font-size: 16px;
  line-height: 19px;
}

.uncheck-icon {
  width: 50px;
  padding-top: 30px;
}

.news-title-wrapper {
  padding-right: 55px !important;
}

.newsletter-title {
  font-size: 20px;
  line-height: 28px;
}

.newsletter-desc {
  font-size: 16px;
  line-height: 27px;
}

.newsletter-row {
  padding-top: 30px;
}

.subscribe-wrapper {
  margin-top: 50px;
  padding-top: 30px;
  -webkit-box-shadow: 0px 2px 30px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 0px 2px 30px rgba(50, 50, 50, 0.45);
  box-shadow: 0px 2px 30px rgba(50, 50, 50, 0.45);
}

.email-input {
  width: 431px;
  height: 58px;
  font-size: 20px;
  line-height: 27px;
}

.email-submit {
  margin-bottom: 20px;
  margin-top: 15px;
  display: block;
  width: 431px;
  height: 58px;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  border: none;
  background-color: #4292F4;
  border-radius: 5px;
   -webkit-box-shadow: 0px 4px 13px rgba(66, 146, 244, 0.46);
  -moz-box-shadow: 0px 4px 13px rgba(66, 146, 244, 0.46);
  box-shadow: 0px 4px 13px rgba(66, 146, 244, 0.46);
}

label {
  font-size: 12px;
  line-height: 19px;
  color: #666666;
  margin-left: 20px;
  padding-bottom: 40px;
}

.switch.off {
  background-image: url('public/images/uncheck-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.switch.on {
  background-image: url('public/images/check-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
}


/*input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:1px solid rgba(0,0,0,.2);
}
input[type='checkbox']:checked {
    background: #abd;
}*/
