@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.title-row {
  padding: 60px 0 30px;
}

.page-title {
  font-size: 25px;
  line-height: 34px;
}

.page-subtitle {
  padding-top: 10px;
  font-size: 16px;
  line-height: 19px;
}
